@import "tailwindcss";


@theme {
    --color-primary: #1E1E1E; 
    --font-primary: "Modak", "serif";

  }
  

  body {
    margin: 0; 
    padding: 0; 
    min-height: 100vh; 
    background-image: url('public/wallpaper.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


  footer {
    width: 50%;
    max-width: 100px; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5; 
  }